<% if signed_in? %>
    <div class="span8">
      <h3>PR Board</h3>
      <%= render 'shared/user_prboard' %>
    </div>
    <div class="span8">
      <h3>Lift Feed</h3>
      <%= render 'shared/feed' %>
    </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to kL</h1>

    <h2>
      This is the home page
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
  <% end %>

