<% if signed_in? %>
    <div class="span8">
    </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to kL</h1>

    <h2>
      This is the home page
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
  <% end %>

<% content_for :scripts do %>
<script>
(function() {
    var chosen_options = {
      no_results_text: "No lifts match: ",
      width: "30%"
    }

    $('.lift-selector').chosen(chosen_options);

})();
</script>
<% end %>

