<% if @pr_lifts %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Lift</th>
        <th>Weight</th>
        <th>Reps</th>
      </tr>
    </thead>
    <tbody>
      <% @pr_lifts.each do |lift| %>
        <tr>
          <td><%= lift.name %></td>
          <td><%= lift.weight %></td>
          <td><%= lift.reps %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
